version: "3"

services:
  db:
    build:
      context: ./postgres
      dockerfile: Dockerfile
    restart: always
    networks:
      - data
    environment:
      POSTGRES_PASSWORD: $PG_PASSWORD
    volumes:
      - ./postgres/initdb:/docker-entrypoint-initdb.d
      - ./postgres-data:/var/lib/postgresql/data
      - ./parquet-data:/parquet-data
    ports:
      - "${DB_PORT}:5432"
    shm_size: 1gb

  base-mainnet-processor:
    build:
      context: ./indexers/base-mainnet
    networks:
      - data
    depends_on:
      - db
    restart: always
    environment:
      DB_PASS: $PG_PASSWORD
    env_file:
      - ./indexers/base-mainnet/.env

  base-sepolia-processor:
    build:
      context: ./indexers/base-sepolia
    networks:
      - data
    depends_on:
      - db
    restart: always
    environment:
      DB_PASS: $PG_PASSWORD
    env_file:
      - ./indexers/base-sepolia/.env

  optimism-mainnet-processor:
    build:
      context: ./indexers/optimism-mainnet
    networks:
      - data
    depends_on:
      - db
    restart: always
    environment:
      DB_PASS: $PG_PASSWORD
    env_file:
      - ./indexers/optimism-mainnet/.env

  transformer:
    build:
      context: ./transformers
    depends_on:
      - db
    environment:
      PG_PASSWORD: $PG_PASSWORD
    volumes:
      - ./parquet-data:/parquet-data
    networks:
      - data

  dashboard:
    build:
      context: ./dashboard
    restart: always
    networks:
      - data
    ports:
      - "${DASHBOARD_PORT}:8501"
    volumes:
      - ${LEGACY_DB_LOCATION}:/app/data/perps.db
      - .streamlit:/app/.streamlit # pass local secrets
      # - ./dashboard:/app # uncomment to enable dashboard development
    deploy:
      resources:
        limits:
          cpus: '6.0'
          memory: 12288M

networks:
  data:
    driver: bridge
